h1,
h2 {
  color: #9818d6;
  font-family: "Noto Sans JP", sans-serif;
  text-shadow: 1px 0 1px #000;
}
h1 :first-letter {
  font-weight: 900;
  text-transform: capitalize;
}
footer {
  text-align: center;
  font-style: italic;
  text-decoration: none;
  color: #eac100;
  margin: 0px;
  display: block;
}
.air {
  text-transform: capitalize;
}
.search-form {
  margin-bottom: 20px;
}

.units {
  position: relative;
  font-weight: 100;
}
.row {
  font-weight: bold;
}
.dateTime {
  font-style: italic;
}
.weekday {
  font-style: italic;
}
.card {
  font-style: italic;
  background-color: transparent;
  text-align: center;
}
.weather-app {
  border: 1px solid #dadde1;
  background-image: url("../images/Weather.jpg");
  margin: 20px auto;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 10px;
}
.units {
  color: #9818d6;
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  text-decoration: none;
}
a {
  text-decoration: none;
}
.active {
  color: #9818d6;
  cursor: default;
}
.active:hover {
  text-decoration: none;
}
.forecast-temperature {
  color: #9818d6;
}
